.location-details {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  display: inline-flex;
}

.location-image {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

.location-details .content {
  margin-left: 30px;
}

.location-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.location-address::before {
  content: url('/assets/location-pin.svg') / '';
}

.location-address {
  font-size: 24pt;
  margin-bottom: 15px;
}

.location-features {
  margin-bottom: 20px;
}

.location-features > .section-heading {
  color: var(--secondary-color);
  font-size: 32px;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

th {
  border-bottom: 2px solid #666;
  background-color: #f0f0f0;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

.location-apply button {
  background-color: var(--primary-color);
  padding: 5px 10px;
  color: #f0f0f0;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
